@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'bootstrap-icons/font/bootstrap-icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(88, 0, 170);
}


/*RGB pendiente
:root {
    --cor-background: #212123;
    --cor-reflexo: rgba(255, 255, 255, 0.4);
    --cores-dancantes: rgb(76, 217, 105), rgb(52, 170, 220), rgb(88, 86, 217),
        rgb(255, 45, 83);
}

* {
    font-family: "Verdana", sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    margin: 0;
}

html {

}

.conteudo {
    background: linear-gradient(to right, var(--cores-dancantes));
    width: 750px;
    height: 390px;
    border-radius: 10px;
    position: relative;
    z-index: 999;
    animation: coresDancantes 2s linear infinite;
}

@keyframes coresDancantes {
    100% {
        filter: hue-rotate(360deg);
    }
}

.conteudo .caixa,
.conteudo span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.conteudo .caixa {
    z-index: 1;
    background-color: var(--cor-background);
    width: 740px;
    height: 380px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.conteudo>span {
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 10px;
}

.conteudo>span:nth-child(1) {
    filter: blur(2px);
}

.conteudo>span:nth-child(2) {
    filter: blur(5px);
}
*/

/*carrusel*/
@import "https://unpkg.com/open-props" layer(design.system);

* {
    font-family: "Verdana", sans-serif;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    margin: 0;
    color: #fff;
}


.carrusel {
    -webkit-perspective: 200px;
    width: 400px;
    height: 300px;
    top: 150px;
    position: relative;
    margin: 0 auto;
}

@keyframes efeitoCarrosel {
    from {
        transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        z-index: 10;
        opacity: 1;
    }
    50% {
        z-index: -10;
    }
    to {
        transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        z-index: 10;
        opacity: 1;
    }
}

.caixa__card {
    width: 93px;
    height: 170px;
    background-color: #442222;
    position: absolute;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    top: 25px;
    left: 155px;
    font-size: 9px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    text-align: center;
    animation: efeitoCarrosel 8s linear infinite;
}

.caixa__card:hover {
    border: solid #4466cc 3px;
    box-shadow: 0px 0px 10px #4466cc;
}

/* Estilos para cada tarjeta */
.caixa__card.cc__1 {
    /*background: linear-gradient(-229deg, #0093E9, #80D0C7);*/
    animation-delay: -7s;
}
.caixa__card.cc__2 {
    background: linear-gradient(-229deg, #00DBDE, #FC00FF);
    animation-delay: -6s;
}
.caixa__card.cc__3 {
    background: linear-gradient(-229deg, #50d990, #d4d054);
    animation-delay: -5s;
}
.caixa__card.cc__4 {
    background: linear-gradient(-229deg, #cf91ff, #5782F5);
    animation-delay: -4s;
}
.caixa__card.cc__5 {
    background: linear-gradient(-229deg, #642B73, #C6426E);
    animation-delay: -3s;
}
.caixa__card.cc__6 {
    background: linear-gradient(-229deg, #D9AFD9, #97D9E1);
    animation-delay: -2s;
}
.caixa__card.cc__7 {
    background: linear-gradient(-229deg, #FBAB7E, #F7CE68);
    animation-delay: -1s;
}
.caixa__card.cc__8 {
    background: linear-gradient(-229deg, #1472ff, #A8EB12);
}

