@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'bootstrap-icons/font/bootstrap-icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;

}

h4, h2, small, a {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.carousel {
    width: 100%;
    margin: 0px 0px;
}

@media(min-width: 768px) {
    .carousel{
        margin: 0px 0px;
    }
}

.carousel h2 {
    font-size: 45px;
    line-height: 38px;
    padding-bottom: 50px;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.carrusel-list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}

.carrusel-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.carrusel {
    position: relative;
    width: 210px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.carrusel h4 {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #dddadc;
    padding: 15px;
}

.carrusel h4 small {
    font-size: 15px;
    display: block;
}
.carrusel a img {
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
    transition: .3s ease-in-out;
}

@media(min-width : 768px) {
    .carrusel {
        width: 275px;
    }
    .carrusel a img {
        width: 250px;
    }
}

.carrusel-arrow {
    border-radius: 30px;
    background-color: #ffffff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus{
    outline: 0;
} 
.carrusel-arrow svg {
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,0.7);
}

.carrusel-prev {
    left: 0px;
}

.carrusel-next {
    right: 0px;
}